{% extends 'gallery/base.html' %}
{% load static %}

{% block content %}   

<section class="galeria" style="margin-left: 5em">
    <form action="" method="">
        <div class="row">
            <div class="col-12 col-lg-12" style="margin-bottom: 10px;">
                <label for="nome_login" style="color:#D9D9D9; margin-bottom: 5px;"><b>Nome de Login</b></label>
                <input type="text" class="form-control" name="nome_login" placeholder="Ex.: João Silva" required>
            </div>
            <div class="col-12 col-lg-12" style="margin-bottom: 10px;">
                <label for="password" style="color:#D9D9D9; margin-bottom: 5px;"><b>Senha</b></label>
                <input type="password" class="form-control" name="password" placeholder="Digite sua senha" required>
            </div>
            <div class="col-12 text-center">
                <button class="btn btn-success col-12" style="padding: top 5px;" type="submit">Login</button>
            </div>
        </div>
    </form>
</section>
{% endblock content %}   